body {
  font-family: "Roboto", sans-serif; }

body, ul, li, ol, p, img {
  padding: 0;
  margin: 0;
  border: none; }

input {
  font-family: "Roboto", sans-serif; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    color: inherit; }

.b-header {
  position: relative; }
  .b-header_search {
    position: relative; }
    .b-header_search_field {
      position: absolute;
      top: 0;
      right: 100%;
      line-height: 50px; }
      .b-header_search_field input {
        height: 50px;
        background: #dddfe3;
        border: none;
        outline: none;
        padding: 0;
        text-indent: 10px;
        color: #000;
        font-size: 15px;
        font-weight: 400;
        display: none;
        width: 0; }
        .b-header_search_field input:focus {
          width: 164px !important; }
    .b-header_search_icon {
      width: 50px;
      height: 50px;
      display: inline-block;
      background-color: #d6282d;
      border: none;
      outline: none; }
  .b-header_info {
    padding-top: 20px; }
  .b-header_call-me {
    padding-top: 5px; }
  .b-header_logo {
    position: absolute;
    top: 10px; }
  .b-header_phone span {
    font-weight: 500;
    font-size: 20px; }
  .b-header_phone small {
    letter-spacing: 0.4px;
    color: #7f7f7f; }
  .b-header_phone-icon {
    width: 33px;
    height: 33px;
    display: block;
    margin: 3px 15px 0 0; }
  .b-header_company-name {
    line-height: 16px; }
    .b-header_company-name strong {
      font-size: 13px;
      color: #3d4045; }
    .b-header_company-name h5 {
      font-size: 30px;
      color: #d6282d;
      font-weight: 900;
      margin: 0; }
  .b-header_top {
    background: #3d4045;
    color: #fff;
    -webkit-box-shadow: 0 1px 3px 1px rgba(86, 86, 86, 0.74);
    -moz-box-shadow: 0 1px 3px 1px rgba(86, 86, 86, 0.74);
    box-shadow: 0 1px 3px 1px rgba(86, 86, 86, 0.74); }
    .b-header_top .navbar-nav {
      height: 50px; }
      .b-header_top .navbar-nav a {
        padding: 15px 25px; }
        .b-header_top .navbar-nav a:hover {
          background: #5d6066;
          color: #fff; }
  .b-header_right {
    font-size: 10px;
    font-weight: 600; }
  .b-header_online:hover {
    background: #5d6066;
    cursor: default !important; }
  .b-header_online > div {
    padding: 2px 25px 0 60px;
    position: relative; }
  .b-header_online_icon {
    position: absolute;
    top: 0;
    left: 21px;
    width: 27px;
    height: 29px; }

.lh-0 {
  line-height: 0; }

a.css-btn-empty,
button.css-btn-empty,
input.css-btn-empty {
  padding: 9px 20px 6px;
  display: inline-block;
  border: 1px solid #cb3034;
  color: #cb3034;
  -webkit-transition: background 0.3s, color 0.3s;
  -moz-transition: background 0.3s, color 0.3s;
  -ms-transition: background 0.3s, color 0.3s;
  -o-transition: background 0.3s, color 0.3s;
  transition: background 0.3s, color 0.3s;
  font-weight: 400;
  text-transform: uppercase; }
  a.css-btn-empty:hover, a.css-btn-empty:focus,
  button.css-btn-empty:hover,
  button.css-btn-empty:focus,
  input.css-btn-empty:hover,
  input.css-btn-empty:focus {
    background: #cb3034;
    color: #fff;
    text-decoration: none; }

.b-main-slider {
  margin-top: 20px; }
  .b-main-slider li {
    position: relative; }
  .b-main-slider .bx-wrapper {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }
  .b-main-slider_block-holder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
  .b-main-slider_first-block {
    width: 470px;
    position: absolute;
    top: 100px;
    left: 0;
    padding: 40px 55px;
    background: rgba(255, 255, 255, 0.8); }
    .b-main-slider_first-block h2 {
      font-weight: 200;
      font-size: 36px;
      margin: 0; }
    .b-main-slider_first-block strong {
      font-weight: 500; }
  .b-main-slider_pager {
    text-align: center; }
    .b-main-slider_pager ul {
      display: inline-block; }
    .b-main-slider_pager_item {
      display: inline-block;
      position: relative;
      width: 15px;
      height: 15px;
      border: 2px solid #000;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      margin-left: 5px; }
      .b-main-slider_pager_item:before {
        content: '';
        display: block;
        width: 7px;
        height: 7px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: #000;
        position: absolute;
        top: 2px;
        left: 2px;
        z-index: 2; }

/*# sourceMappingURL=style.css.map */
