

body, ul, li, ol, p, img {
  padding: 0;
  margin: 0;
  border: none;
}

body {
  font-family: "Roboto", sans-serif;
  padding-bottom: 150px;
  font-size: 14px;
  background: #e9ecf3;
  color: #3d4045;
}

input {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

.b-header {
  position: relative;


  &_search {
    position: relative;

    &_field {
      position: absolute;
      top: 0;
      right: 100%;
      line-height: 50px;

      input {
        height: 50px;
        background: #dddfe3;
        border: none;
        outline: none;
        padding: 0;
        text-indent: 10px;
        color: #000;
        font-size: 15px;
        font-weight: 400;
        display: none;
        width: 0;

        &:focus {
          width: 164px !important;
        }
      }
    }

    &_icon {
      width: 50px;
      height: 50px;
      display: inline-block;
      background-color: #d6282d;
      border: none;
      outline: none;
    }
  }

  &_info {
    padding-top: 20px;
  }

  &_call-me {
    padding-top: 5px;
  }

  &_logo {
    position: absolute;
    top: 10px;
  }

  &_phone {

    span {
      font-weight: 500;
      font-size: 20px;
    }

    small {
      letter-spacing: 0.4px;
      color: #7f7f7f;
    }

    &-icon {
      width: 33px;
      height: 33px;
      display: block;
      margin: 3px 15px 0 0;
    }
  }

  &_company-name {
    line-height: 16px;

    strong {
      font-size: 13px;
      color: #3d4045;
    }

    h5 {
      font-size: 30px;
      color: #d6282d;
      font-weight: 900;
      margin: 0;
    }
  }

  &_top {
    background: #3d4045;
    color: #fff;
    -webkit-box-shadow: 0 1px 3px 1px rgba(86, 86, 86, 0.74);
    -moz-box-shadow: 0 1px 3px 1px rgba(86, 86, 86, 0.74);
    box-shadow: 0 1px 3px 1px rgba(86, 86, 86, 0.74);

    .navbar-nav {
      height: 50px;

      a {
        padding: 15px 25px;

        &:hover {
          background: #5d6066;
          color: #fff;
        }
      }
    }
  }

  &_right {
    font-size: 10px;
    font-weight: 600;
  }

  &_online {

    &:hover {
      background: #5d6066;
      cursor: default!important;
    }

    > div {
      padding: 2px 25px 0 60px;
      position: relative;
    }

    &_icon {
      position: absolute;
      top: 0;
      left: 21px;
      width: 27px;
      height: 29px;
    }
  }
}

.lh-0 {
  line-height: 0;
}

a {
  &.css-btn-empty {
    padding: 9px 20px 6px;
    display: inline-block;
    border: 1px solid #cb3034;
    color: #cb3034;
    -webkit-transition: background 0.2s linear, color 0.2s linear, border-color 0.2s linear;
    -moz-transition: background 0.2s linear, color 0.2s linear, border-color 0.2s linear;
    -ms-transition: background 0.2s linear, color 0.2s linear, border-color 0.2s linear;
    -o-transition: background 0.2s linear, color 0.2s linear, border-color 0.2s linear;
    transition: background 0.1s linear, color 0.1s linear, border-color 0.1s linear;
    font-weight: 400;
    text-transform: uppercase;

    &__black {
      border: 1px solid #3d4045;
      color: #3d4045;
      padding-top: 7px;

      &:hover,
      &:focus {
        background: #3d4045 !important;
      }
    }

    &__white {
      border-color: #d7d8d9;
      color: #d7d8d9;
      padding-top: 7px;

      &:hover,
      &:focus {
        background: #d7d8d9 !important;
        color: #000!important;
      }
    }

    &:hover,
    &:focus {
      background: #cb3034;
      color: #fff;
      text-decoration: none;
    }
  }

  &.css-link-with-icon {
    color: #d6282d;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: #d6282d;
      text-decoration: none;
    }

    &:after {
      content: '';
      display: inline-block;
      width: 13px;
      height: 13px;
      line-height: 14px;
      vertical-align: middle;
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAANCAYAAAC3mX7tAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWdJREFUeNqUlD9LQzEUR19fa/2z+BUcHRwLTgou4qCbuClOuggKLoLiIoKLddBJP0FBdBAEBRFcVBDBDuKXcBW0tc9zy68lprHPFzgNaXJyb3LT5pIkifw2PjE5S3cEDag7Uz3wcnd7PRV1tq5OIRAkpruEfdiEQW9JHAiS6hTY2CJOw6iEWJkdwByUPOlTWWZy7ESrsKsN7MhnUIRjGInCLbNjgdbgBjYkvcMeLEZ/t8yOBRqABwpcVY3KAcEK/ApDcvrMgarmU51YGRWdhzAcSOgcxmBH9Wg7Gqc6rReUsw9O1dDEmyNcwDb0w6Hq03aUearT8VQJdq9ruIITWIFlWIca85VA9l0dqLQC1b1gj3Qz9Ev0eViwe2bsrqt7wZoO/HJa6yxQr4rrn6zm1MCEb2c66Cj7oGODJ5jnIdh/0YeysZZoYUkv89nZsOlozb+cgu6xrDv98jLM60e5BafO95mdHwEGAIwegrIrX0wXAAAAAElFTkSuQmCC') no-repeat;
      margin-left: 10px;
    }

    &__white {
      &:after {
        background-position: -13px 0;
      }
    }
  }
}

.css-text-white {
  color: #fff !important;
}

.b-main-slider {
  margin-top: 20px;

  .bx-wrapper {
    border: none;
    margin-bottom: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    li {
      overflow-x: hidden;

      & > img {
        width: 100%;
        min-height: 380px;
      }
    }
  }

  &_block-holder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &_first-block {
    width: 470px;
    position: absolute;
    top: 100px;
    left: 0;
    padding: 40px 55px;
    background: rgba(255, 255, 255, 0.8);

    h2 {
      font-weight: 200;
      font-size: 36px;
      margin: 0 0 20px;
    }

    strong {
      font-weight: 500;
    }
  }

  &_second-block {
    width: 475px;
    position: absolute;
    top: 50px;
    right: 0;
    padding: 24px 15px;

    &_bg {
      background: rgba(255, 255, 255, 0.8);
      position: absolute;
      top: 0;
      left: 0;
      width: 2500px;
      height: 180px;
    }

    &_right {
      position: relative;
      z-index: 2;
      float: left;
      width: 255px;

      h3 {
        font-size: 18px;
        margin-top: 0;
      }
    }

    &_left {
      position: relative;
      z-index: 2;
      text-align: center;
      width: 160px;
      height: 132px;
      float: left;
      border: 3px solid #3d4045;
      padding: 15px 0 0;
      margin-right: 15px;

      strong {
        font-size: 43px;
        font-weight: 600;
        line-height: 43px;
      }

      span {
        font-size: 16px;
      }
      
      small {
        font-size: 14px;
        line-height: 35px;
      }
    }
  }


  &_pager {
    text-align: center;
    font-size: 0;
    margin-top: -50px;
    margin-bottom: 70px;

    ul {
      display: inline-block;
      vertical-align: middle;
      margin-left: 13px;
      margin-right: 19px;
    }

    &_arrow {
      display: inline-block;
      width: 31px;
      height: 30px;
      position: relative;
      vertical-align: middle;
      opacity: 0.4;
      -webkit-transition: opacity 0.2s;
      -moz-transition: opacity 0.2s;
      -ms-transition: opacity 0.2s;
      -o-transition: opacity 0.2s;
      transition: opacity 0.2s;

      &:hover {
        opacity: 1;
      }

      a {
        display: block;
        height: 30px;
      }

      &-right {
        background-position: -31px 0;
      }
    }

    &_item {
      display: inline-block;
      position: relative;
      width: 15px;
      height: 15px;
      margin-left: 6px;

      a {
        display: block;
        width: 15px;
        height: 15px;
        position: relative;
        z-index: 3;
        border: 2px solid transparent;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        cursor: pointer;

        &.active {
          border-color: #fff;
        }

        &:before {
          content: '';
          display: block;
          width: 7px;
          height: 7px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          background: #fff;
          position: absolute;
          top: 2px;
          left: 2px;
          z-index: 2;
        }
      }
    }
  }

}

.b-main-services {
  text-align: center;

  &_item {
    position: relative;
    height: 155px;
    display: inline-block;
    width: 194px;
    border: 3px solid #3d4045;
    padding-top: 11px;
    margin-bottom: 30px;

    &_holder {
      position: relative;
      z-index: 2;
    }

    &:hover &_line{
      top: 55px;
      bottom: 10px;
    }

    &_line {
      position: absolute;
      left: -5px;
      right: -5px;
      bottom: -5px;
      top: -5px;
      background: #e9ecf3;
      -webkit-transition: top 0.3s;
      -moz-transition: top 0.3s;
      -ms-transition: top 0.3s;
      -o-transition: top 0.3s;
      transition: top 0.3s cubic-bezier(0, 0.85, 0.56, 1.04), bottom 0.2s;
    }
  }

  &_icon {
    width: 90px;
    height: 50px;
    display: inline-block;
    margin-bottom: 5px;

    &__first {
      background-position: 0 0;
    }

    &__second {
      background-position: -90px 0;
    }

    &__third {
      background-position: -180px 0;
    }

    &__fifth {
      background-position: -270px 0;
    }
  }
}

.b-services {
  &_item {
    -webkit-background-size: cover;
    background-size: cover;
    height: 248px;

    p {
      margin: 10px 0;
    }

    div {
      padding: 0 15px;
    }

    h2 {
      font-weight: 300;
      font-size: 24px;
      margin-bottom: 20px;

      strong {
        font-weight: 500;
      }
    }
  }
}

.b-main-carousel {
  margin-top: 50px;

  li {
    list-style-type: none;
  }
  
  h5 {
    margin-top: 20px;
    font-weight: 600;
    color: #d6282d;
  }

  table {
    width: 100%;
  }

  &_body {
    padding: 30px 0;
    background: #fff;

    &_left {
      float: left;
      width: 85px;

      img  {
        min-width: 100%;
        margin-bottom: 10px;
      }
    }

    &_right {
      padding-left: 30px;
      vertical-align: top;
      position: relative;

      &_bottom {
        position: absolute;
        bottom: 0;
        left: 30px;
        line-height: 9px;
        width: 100%;

        &_cart {
          width: 39px;
          height: 39px;
          display: block;
          position: absolute;
          bottom: 0;
          right: 30px;
          border: 2px solid #3d4045;
          -webkit-transition: background 0.2s;
          -moz-transition: background 0.2s;
          -ms-transition: background 0.2s;
          -o-transition: background 0.2s;
          transition: background 0.1s;

          &:hover {
            background-color: #3d4045;
            background-position: -35px 0;
          }
        }

        strong {
          font-size: 30px;
          font-weight: 400;
        }

        small {
          font-size: 18px;
        }
      }
    }

    &_title {
      font-size: 18px;
      font-weight: 600;

      a {
        color: #3d4045;

        &:hover {
          color: #d6282d;
        }
      }
    }
  }

  &_head {
    margin-bottom: 50px;

    &_all-link {
      display: inline-block;
      float: right;
      padding: 15px 0 0;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    &_titles {
      li {
        list-style-type: none;
        display: inline-block;
        margin-left: 10px;
        padding: 0 35px 2px;
        -webkit-border-radius: 28px;
        -moz-border-radius: 28px;
        border-radius: 28px;
        font-size: 30px;
        border: 2px solid transparent;
        color: #3d4045;

        &.__active {
          border-color: #3d4045
        }
      }
    }
  }
}















