<section class="b-titles">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-8">
                <ul class="b-titles_titles">
                    <li>Автомасла</li>
                </ul>
            </div>
        </div>

        <div class="b-titles_line">
            <a href="#" class="b-titles_line_item b-titles_line_item__filled">Легковые автомобили</a>
            <a href="#" class="b-titles_line_item b-titles_line_item__filled">Мотоциклы</a>
            <a href="#" class="b-titles_line_item b-titles_line_item__filled _active">Трансмиссионные и автоматические масла</a>
            <a href="#" class="b-titles_line_item b-titles_line_item__filled">Тормозные и специальные жидкости</a>
            <a href="#" class="b-titles_line_item b-titles_line_item__filled">Защита от мороза</a>
        </div>

        <div class="b-titles_line_left">
            <a href="#" class="b-titles_line_item b-titles_line_item__empty">Mobil</a>
            <a href="#" class="b-titles_line_item b-titles_line_item__empty">Castrol</a>
            <a href="#" class="b-titles_line_item b-titles_line_item__empty">Shell</a>
            <a href="#" class="b-titles_line_item b-titles_line_item__empty _active">NGN</a>
            <a href="#" class="b-titles_line_item b-titles_line_item__empty">Kroon-oil</a>
            <a href="#" class="b-titles_line_item b-titles_line_item__empty">Оригинальные масла</a>
        </div>

    </div>
</section>

<section class="b-catalog-additional">
    <div class="container">
        <div class="b-breadcrumbs">
            <a href="#">Главная</a> | <a href="#">Масло Kuttenkeuler</a> | <span>Трансмиссионные и автоматические масла</span>
        </div>

        <div class="b-products-container row">
            <div class="b-product-block">
                <div class="container">
                    <div class="row">
                        <div class="b-product-block_line b-catalog-additional_with-line">
                            <div class="col-md-4">
                                <h4 class="b-main-carousel_body_title">
                                    <a href="#">Ultrasyn Plus 0W40 синтетическое моторное масло</a>
                                </h4>
                                <table>
                                    <tr>
                                        <td class="b-main-carousel_body_left">
                                            <a href="#">
                                                <img src="images/static/carousel_1.jpg" alt=""/>
                                            </a>

                                            <div class="icon-star-set" data-starscount="2">
                                                <div class="icon-star icon-star__gold"></div>
                                                <div class="icon-star icon-star__gold"></div>
                                                <div class="icon-star icon-star__gold"></div>
                                                <div class="icon-star"></div>
                                                <div class="icon-star"></div>
                                            </div>
                                        </td>
                                        <td class="b-main-carousel_body_right">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequuntur dignissimos dolorem doloribus eveniet facere.
                                            </p>

                                            <div class="b-main-carousel_body_right_bottom">
                                                <a href="#" class="b-main-carousel_body_right_bottom_cart icon-cart"></a>
                                                <strong>700 <small>руб</small></strong>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="col-md-4">
                                <h4 class="b-main-carousel_body_title">
                                    <a href="#">Ultrasyn Plus 0W40 синтетическое моторное масло</a>
                                </h4>
                                <table>
                                    <tr>
                                        <td class="b-main-carousel_body_left">
                                            <a href="#">
                                                <img src="images/static/carousel_1.jpg" alt=""/>
                                            </a>

                                            <div class="icon-star-set" data-starscount="2">
                                                <div class="icon-star icon-star__gold"></div>
                                                <div class="icon-star icon-star__gold"></div>
                                                <div class="icon-star icon-star__gold"></div>
                                                <div class="icon-star"></div>
                                                <div class="icon-star"></div>
                                            </div>
                                        </td>
                                        <td class="b-main-carousel_body_right">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequuntur dignissimos dolorem doloribus eveniet facere.
                                            </p>

                                            <div class="b-main-carousel_body_right_bottom">
                                                <a href="#" class="b-main-carousel_body_right_bottom_cart icon-cart"></a>
                                                <strong>700 <small>руб</small></strong>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="col-md-4">
                                <h4 class="b-main-carousel_body_title">
                                    <a href="#">Ultrasyn Plus 0W40 синтетическое моторное масло</a>
                                </h4>
                                <table>
                                    <tr>
                                        <td class="b-main-carousel_body_left">
                                            <a href="#">
                                                <img src="images/static/carousel_1.jpg" alt=""/>
                                            </a>

                                            <div class="icon-star-set" data-starscount="2">
                                                <div class="icon-star icon-star__gold"></div>
                                                <div class="icon-star icon-star__gold"></div>
                                                <div class="icon-star icon-star__gold"></div>
                                                <div class="icon-star"></div>
                                                <div class="icon-star"></div>
                                            </div>
                                        </td>
                                        <td class="b-main-carousel_body_right">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequuntur dignissimos dolorem doloribus eveniet facere.
                                            </p>

                                            <div class="b-main-carousel_body_right_bottom">
                                                <a href="#" class="b-main-carousel_body_right_bottom_cart icon-cart"></a>
                                                <strong>700 <small>руб</small></strong>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="b-products-container row">
            <div class="b-product-block">
                <div class="container">
                    <div class="row">
                        <div class="b-product-block_line b-catalog-additional_with-line">
                            <div class="col-md-4">
                                <h4 class="b-main-carousel_body_title">
                                    <a href="#">Ultrasyn Plus 0W40 синтетическое моторное масло</a>
                                </h4>
                                <table>
                                    <tr>
                                        <td class="b-main-carousel_body_left">
                                            <a href="#">
                                                <img src="images/static/carousel_1.jpg" alt=""/>
                                            </a>

                                            <div class="icon-star-set" data-starscount="2">
                                                <div class="icon-star icon-star__gold"></div>
                                                <div class="icon-star icon-star__gold"></div>
                                                <div class="icon-star icon-star__gold"></div>
                                                <div class="icon-star"></div>
                                                <div class="icon-star"></div>
                                            </div>
                                        </td>
                                        <td class="b-main-carousel_body_right">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequuntur dignissimos dolorem doloribus eveniet facere.
                                            </p>

                                            <div class="b-main-carousel_body_right_bottom">
                                                <a href="#" class="b-main-carousel_body_right_bottom_cart icon-cart"></a>
                                                <strong>700 <small>руб</small></strong>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="col-md-4">
                                <h4 class="b-main-carousel_body_title">
                                    <a href="#">Ultrasyn Plus 0W40 синтетическое моторное масло</a>
                                </h4>
                                <table>
                                    <tr>
                                        <td class="b-main-carousel_body_left">
                                            <a href="#">
                                                <img src="images/static/carousel_1.jpg" alt=""/>
                                            </a>

                                            <div class="icon-star-set" data-starscount="2">
                                                <div class="icon-star icon-star__gold"></div>
                                                <div class="icon-star icon-star__gold"></div>
                                                <div class="icon-star icon-star__gold"></div>
                                                <div class="icon-star"></div>
                                                <div class="icon-star"></div>
                                            </div>
                                        </td>
                                        <td class="b-main-carousel_body_right">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequuntur dignissimos dolorem doloribus eveniet facere.
                                            </p>

                                            <div class="b-main-carousel_body_right_bottom">
                                                <a href="#" class="b-main-carousel_body_right_bottom_cart icon-cart"></a>
                                                <strong>700 <small>руб</small></strong>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="col-md-4">
                                <h4 class="b-main-carousel_body_title">
                                    <a href="#">Ultrasyn Plus 0W40 синтетическое моторное масло</a>
                                </h4>
                                <table>
                                    <tr>
                                        <td class="b-main-carousel_body_left">
                                            <a href="#">
                                                <img src="images/static/carousel_1.jpg" alt=""/>
                                            </a>

                                            <div class="icon-star-set" data-starscount="2">
                                                <div class="icon-star icon-star__gold"></div>
                                                <div class="icon-star icon-star__gold"></div>
                                                <div class="icon-star icon-star__gold"></div>
                                                <div class="icon-star"></div>
                                                <div class="icon-star"></div>
                                            </div>
                                        </td>
                                        <td class="b-main-carousel_body_right">
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequuntur dignissimos dolorem doloribus eveniet facere.
                                            </p>

                                            <div class="b-main-carousel_body_right_bottom">
                                                <a href="#" class="b-main-carousel_body_right_bottom_cart icon-cart"></a>
                                                <strong>700 <small>руб</small></strong>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="b-pagination">
    <ul>
        <li class="b-pagination_arrow b-pagination_arrow__left"><a href="#" class="icon-pagination-arrows">&nbsp;</a></li>
        <li><a href="#">1</a></li>
        <li class="_active"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li class="b-pagination_arrow b-pagination_arrow__right"><a href="#" class="icon-pagination-arrows">&nbsp;</a></li>
    </ul>
</div>