<section class="b-titles">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-8">
                <ul class="b-titles_titles">
                    <li>Автомасла</li>
                </ul>
            </div>
        </div>

        <div class="b-titles_line">
            <a href="#" class="b-titles_line_item b-titles_line_item__filled">Легковые автомобили</a>
            <a href="#" class="b-titles_line_item b-titles_line_item__filled">Мотоциклы</a>
            <a href="#" class="b-titles_line_item b-titles_line_item__filled _active">Трансмиссионные и автоматические масла</a>
            <a href="#" class="b-titles_line_item b-titles_line_item__filled">Тормозные и специальные жидкости</a>
            <a href="#" class="b-titles_line_item b-titles_line_item__filled">Защита от мороза</a>
        </div>

        <div class="b-titles_line_left">
            <a href="#" class="b-titles_line_item b-titles_line_item__empty">Mobil</a>
            <a href="#" class="b-titles_line_item b-titles_line_item__empty">Castrol</a>
            <a href="#" class="b-titles_line_item b-titles_line_item__empty">Shell</a>
            <a href="#" class="b-titles_line_item b-titles_line_item__empty _active">NGN</a>
            <a href="#" class="b-titles_line_item b-titles_line_item__empty">Kroon-oil</a>
            <a href="#" class="b-titles_line_item b-titles_line_item__empty">Оригинальные масла</a>
        </div>

    </div>
</section>

<section class="b-catalog-item">
    <div class="container">
        <div class="b-breadcrumbs">
            <a href="#">Главная</a> | <a href="#">Масло Kuttenkeuler</a> | <span>Трансмиссионные и автоматические масла</span>
        </div>
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit</h2>
        <div class="row">
            <div class="col-md-3">
                <div class="b-catalog-item_img">
                    <img src="//placehold.it/225x310" alt=""/>
                </div>

                <div class="b-catalog-item_stars icon-star-big-set">
                    <div class="icon-star-big icon-star-big__gold"></div>
                    <div class="icon-star-big icon-star-big__gold"></div>
                    <div class="icon-star-big icon-star-big__gold"></div>
                    <div class="icon-star-big"></div>
                    <div class="icon-star-big"></div>
                </div>
            </div>

            <div class="col-md-9">
                <div class="b-catalog-item_description">
                    <div class="b-catalog-item_description_info">
                        <strong>Габариты: <span>208*173*197</span></strong>
                        <strong>Емкость: <span>60Ah</span></strong>
                        <strong>Стартовый ток: <span>540A</span></strong>
                        <strong>Напряжение: <span>12 V</span></strong>
                        <strong>Полярность: <span>прямая</span></strong>
                    </div>

                    <div class="b-catalog-item_description_text">
                        <p>
                            Synta HD GL 5/Синта ХД ГЛ 5 полусинтетическое трансмиссионное масло вязкости класса SAE 75W/90,
                            базируется на полусинтетических компонентах, что позволяет применять это масло для смазки тяжелонагруженных механизмов. Стабильная вязкость при изменении температур дает возможность круглогодичного применения. Synta HD GL 5/Синта ХД ГЛ 5 специально разработано для смазки тяжелонагруженных КПП. Это масло отвечает требованиям, предъявляемым к трансмиссионным маслам европейскими производителями.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>