<section class="b-product">
    <div class="b-titles">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h5>ХИТЫ ПРОДАЖ</h5>
                </div>
                <div class="col-md-8">
                    <ul class="b-titles_titles">
                        <li>Масла</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <a class="b-titles_all-link" href="#">ВЕСЬ КАТАЛОГ МАСЕЛ</a>
                </div>
            </div>
        </div>
    </div>

    <div class="b-product-block">
        <div class="container">
            <div class="row">
                <div class="b-product-block_line">
                    <div class="col-md-4">
                        <h4 class="b-main-carousel_body_title">
                            <a href="#">Ultrasyn Plus 0W40 синтетическое моторное масло</a>
                        </h4>
                        <table>
                            <tr>
                                <td class="b-main-carousel_body_left">
                                    <a href="#">
                                        <img src="images/static/carousel_1.jpg" alt=""/>
                                    </a>

                                    <div class="icon-star-set" data-starscount="2">
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star"></div>
                                        <div class="icon-star"></div>
                                    </div>
                                </td>
                                <td class="b-main-carousel_body_right">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequuntur dignissimos dolorem doloribus eveniet facere.
                                    </p>

                                    <div class="b-main-carousel_body_right_bottom">
                                        <a href="#" class="b-main-carousel_body_right_bottom_cart icon-cart"></a>
                                        <strong>700 <small>руб</small></strong>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-md-4">
                        <h4 class="b-main-carousel_body_title">
                            <a href="#">Ultrasyn Plus 0W40 синтетическое моторное масло</a>
                        </h4>
                        <table>
                            <tr>
                                <td class="b-main-carousel_body_left">
                                    <a href="#">
                                        <img src="images/static/carousel_1.jpg" alt=""/>
                                    </a>

                                    <div class="icon-star-set" data-starscount="2">
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star"></div>
                                        <div class="icon-star"></div>
                                    </div>
                                </td>
                                <td class="b-main-carousel_body_right">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequuntur dignissimos dolorem doloribus eveniet facere.
                                    </p>

                                    <div class="b-main-carousel_body_right_bottom">
                                        <a href="#" class="b-main-carousel_body_right_bottom_cart icon-cart"></a>
                                        <strong>700 <small>руб</small></strong>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-md-4">
                        <h4 class="b-main-carousel_body_title">
                            <a href="#">Ultrasyn Plus 0W40 синтетическое моторное масло</a>
                        </h4>
                        <table>
                            <tr>
                                <td class="b-main-carousel_body_left">
                                    <a href="#">
                                        <img src="images/static/carousel_1.jpg" alt=""/>
                                    </a>

                                    <div class="icon-star-set" data-starscount="2">
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star"></div>
                                        <div class="icon-star"></div>
                                    </div>
                                </td>
                                <td class="b-main-carousel_body_right">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequuntur dignissimos dolorem doloribus eveniet facere.
                                    </p>

                                    <div class="b-main-carousel_body_right_bottom">
                                        <a href="#" class="b-main-carousel_body_right_bottom_cart icon-cart"></a>
                                        <strong>700 <small>руб</small></strong>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="b-product">
    <div class="b-titles">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h5>ХИТЫ ПРОДАЖ</h5>
                </div>
                <div class="col-md-8">
                    <ul class="b-titles_titles">
                        <li>Аккумуляторы</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <a class="b-titles_all-link" href="#">ВЕСЬ КАТАЛОГ АККУМУЛЯТОРОВ</a>
                </div>
            </div>
        </div>
    </div>

    <div class="b-product-block">
        <div class="container">
            <div class="row">
                <div class="b-product-block_line">
                    <div class="col-md-4">
                        <h4 class="b-main-carousel_body_title">
                            <a href="#">Ultrasyn Plus 0W40 синтетическое моторное масло</a>
                        </h4>
                        <table>
                            <tr>
                                <td class="b-main-carousel_body_left">
                                    <a href="#">
                                        <img src="images/static/carousel_1.jpg" alt=""/>
                                    </a>

                                    <div class="icon-star-set" data-starscount="2">
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star"></div>
                                        <div class="icon-star"></div>
                                    </div>
                                </td>
                                <td class="b-main-carousel_body_right">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequuntur dignissimos dolorem doloribus eveniet facere.
                                    </p>

                                    <div class="b-main-carousel_body_right_bottom">
                                        <a href="#" class="b-main-carousel_body_right_bottom_cart icon-cart"></a>
                                        <strong>700 <small>руб</small></strong>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-md-4">
                        <h4 class="b-main-carousel_body_title">
                            <a href="#">Ultrasyn Plus 0W40 синтетическое моторное масло</a>
                        </h4>
                        <table>
                            <tr>
                                <td class="b-main-carousel_body_left">
                                    <a href="#">
                                        <img src="images/static/carousel_1.jpg" alt=""/>
                                    </a>

                                    <div class="icon-star-set" data-starscount="2">
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star"></div>
                                        <div class="icon-star"></div>
                                    </div>
                                </td>
                                <td class="b-main-carousel_body_right">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequuntur dignissimos dolorem doloribus eveniet facere.
                                    </p>

                                    <div class="b-main-carousel_body_right_bottom">
                                        <a href="#" class="b-main-carousel_body_right_bottom_cart icon-cart"></a>
                                        <strong>700 <small>руб</small></strong>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-md-4">
                        <h4 class="b-main-carousel_body_title">
                            <a href="#">Ultrasyn Plus 0W40 синтетическое моторное масло</a>
                        </h4>
                        <table>
                            <tr>
                                <td class="b-main-carousel_body_left">
                                    <a href="#">
                                        <img src="images/static/carousel_1.jpg" alt=""/>
                                    </a>

                                    <div class="icon-star-set" data-starscount="2">
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star"></div>
                                        <div class="icon-star"></div>
                                    </div>
                                </td>
                                <td class="b-main-carousel_body_right">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequuntur dignissimos dolorem doloribus eveniet facere.
                                    </p>

                                    <div class="b-main-carousel_body_right_bottom">
                                        <a href="#" class="b-main-carousel_body_right_bottom_cart icon-cart"></a>
                                        <strong>700 <small>руб</small></strong>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="b-product css_mb60">
    <div class="b-titles">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h5>ХИТЫ ПРОДАЖ</h5>
                </div>
                <div class="col-md-8">
                    <ul class="b-titles_titles">
                        <li>Автотовары</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <a class="b-titles_all-link" href="#">ВЕСЬ КАТАЛОГ АВТОТОВАРОВ</a>
                </div>
            </div>
        </div>
    </div>

    <div class="b-product-block">
        <div class="container">
            <div class="row">
                <div class="b-product-block_line">
                    <div class="col-md-4">
                        <h4 class="b-main-carousel_body_title">
                            <a href="#">Ultrasyn Plus 0W40 синтетическое моторное масло</a>
                        </h4>
                        <table>
                            <tr>
                                <td class="b-main-carousel_body_left">
                                    <a href="#">
                                        <img src="images/static/carousel_1.jpg" alt=""/>
                                    </a>

                                    <div class="icon-star-set" data-starscount="2">
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star"></div>
                                        <div class="icon-star"></div>
                                    </div>
                                </td>
                                <td class="b-main-carousel_body_right">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequuntur dignissimos dolorem doloribus eveniet facere.
                                    </p>

                                    <div class="b-main-carousel_body_right_bottom">
                                        <a href="#" class="b-main-carousel_body_right_bottom_cart icon-cart"></a>
                                        <strong>700 <small>руб</small></strong>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-md-4">
                        <h4 class="b-main-carousel_body_title">
                            <a href="#">Ultrasyn Plus 0W40 синтетическое моторное масло</a>
                        </h4>
                        <table>
                            <tr>
                                <td class="b-main-carousel_body_left">
                                    <a href="#">
                                        <img src="images/static/carousel_1.jpg" alt=""/>
                                    </a>

                                    <div class="icon-star-set" data-starscount="2">
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star"></div>
                                        <div class="icon-star"></div>
                                    </div>
                                </td>
                                <td class="b-main-carousel_body_right">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequuntur dignissimos dolorem doloribus eveniet facere.
                                    </p>

                                    <div class="b-main-carousel_body_right_bottom">
                                        <a href="#" class="b-main-carousel_body_right_bottom_cart icon-cart"></a>
                                        <strong>700 <small>руб</small></strong>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-md-4">
                        <h4 class="b-main-carousel_body_title">
                            <a href="#">Ultrasyn Plus 0W40 синтетическое моторное масло</a>
                        </h4>
                        <table>
                            <tr>
                                <td class="b-main-carousel_body_left">
                                    <a href="#">
                                        <img src="images/static/carousel_1.jpg" alt=""/>
                                    </a>

                                    <div class="icon-star-set" data-starscount="2">
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star"></div>
                                        <div class="icon-star"></div>
                                    </div>
                                </td>
                                <td class="b-main-carousel_body_right">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequuntur dignissimos dolorem doloribus eveniet facere.
                                    </p>

                                    <div class="b-main-carousel_body_right_bottom">
                                        <a href="#" class="b-main-carousel_body_right_bottom_cart icon-cart"></a>
                                        <strong>700 <small>руб</small></strong>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>