<section class="b-titles">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-8">
                <ul class="b-titles_titles">
                    <li>Автомасла</li>
                </ul>
            </div>
        </div>

        <div class="b-titles_line">
            <a href="#" class="b-titles_line_item b-titles_line_item__filled">Легковые автомобили</a>
            <a href="#" class="b-titles_line_item b-titles_line_item__filled">Мотоциклы</a>
            <a href="#" class="b-titles_line_item b-titles_line_item__filled">Трансмиссионные и автоматические масла</a>
            <a href="#" class="b-titles_line_item b-titles_line_item__filled">Тормозные и специальные жидкости</a>
            <a href="#" class="b-titles_line_item b-titles_line_item__filled">Защита от мороза</a>
        </div>

        <div class="b-titles_line_left">
            <a href="#" class="b-titles_line_item b-titles_line_item__empty">Mobil</a>
            <a href="#" class="b-titles_line_item b-titles_line_item__empty">Castrol</a>
            <a href="#" class="b-titles_line_item b-titles_line_item__empty">Shell</a>
            <a href="#" class="b-titles_line_item b-titles_line_item__empty">NGN</a>
            <a href="#" class="b-titles_line_item b-titles_line_item__empty">Kroon-oil</a>
            <a href="#" class="b-titles_line_item b-titles_line_item__empty">Оригинальные масла</a>
        </div>

    </div>
</section>