<section class="b-titles">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-8">
                <ul class="b-titles_titles">
                    <li>Контакты</li>
                </ul>
            </div>
        </div>
    </div>
</section>


<section class="b-contacts">
    <div class="container">
        <div class="b-breadcrumbs">
            <a href="#">Главная</a> | <a href="#">Масло Kuttenkeuler</a> | <span>Трансмиссионные и автоматические масла</span>
        </div>

        <h3>Наши адреса</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi ratione sed ullam? Accusantium blanditiis eligendi, explicabo illum inventore laudantium nam natus nulla quae, quas rem sint totam ullam, unde.</p>

        <div class="row">
            <div class="col-md-6">
                <table class="b-address-block">
                    <tr>
                        <td class="b-address-block_left">
                            <h4><i class="icon-wr"></i><span>ул. Ким-Ю-Чена д.44</span></h4>
                            <p>
                                Тел: 8 (4212) 300-000<br/>
                                Тел: 8 (4212) 300-001
                            </p>
                        </td>
                        <td>
                            <img src="//placehold.it/102x65" alt=""/>
                            <img src="//placehold.it/102x65" alt=""/>
                        </td>
                        <td>
                            <a href="#">
                                <i class="icon-online-black"></i>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-md-6">
                <table class="b-address-block">
                    <tr>
                        <td class="b-address-block_left">
                            <h4><i class="icon-wr"></i><span>ул. Ким-Ю-Чена д.44</span></h4>
                            <p>
                                Тел: 8 (4212) 300-000<br/>
                                Тел: 8 (4212) 300-001
                            </p>
                        </td>
                        <td>
                            <img src="//placehold.it/102x65" alt=""/>
                            <img src="//placehold.it/102x65" alt=""/>
                        </td>
                        <td>
                            <a href="#">
                                <i class="icon-online-black"></i>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <table class="b-address-block">
                    <tr>
                        <td class="b-address-block_left">
                            <h4><i class="icon-wr"></i><span>ул. Ким-Ю-Чена д.44</span></h4>
                            <p>
                                Тел: 8 (4212) 300-000<br/>
                                Тел: 8 (4212) 300-001
                            </p>
                        </td>
                        <td>
                            <img src="//placehold.it/102x65" alt=""/>
                            <img src="//placehold.it/102x65" alt=""/>
                        </td>
                        <td>
                            <a href="#">
                                <i class="icon-online-black"></i>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-md-6">
                <table class="b-address-block">
                    <tr>
                        <td class="b-address-block_left">
                            <h4><i class="icon-wr"></i><span>ул. Ким-Ю-Чена д.44</span></h4>
                            <p>
                                Тел: 8 (4212) 300-000<br/>
                                Тел: 8 (4212) 300-001
                            </p>
                        </td>
                        <td>
                            <img src="//placehold.it/102x65" alt=""/>
                            <img src="//placehold.it/102x65" alt=""/>
                        </td>
                        <td>
                            <a href="#">
                                <i class="icon-online-black"></i>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <table class="b-address-block">
                    <tr>
                        <td class="b-address-block_left">
                            <h4><i class="icon-wr"></i><span>ул. Ким-Ю-Чена д.44</span></h4>
                            <p>
                                Тел: 8 (4212) 300-000<br/>
                                Тел: 8 (4212) 300-001
                            </p>
                        </td>
                        <td>
                            <img src="//placehold.it/102x65" alt=""/>
                            <img src="//placehold.it/102x65" alt=""/>
                        </td>
                        <td>
                            <a href="#">
                                <i class="icon-online-black"></i>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>

            <div class="col-md-6">
                <table class="b-address-block">
                    <tr>
                        <td class="b-address-block_left">
                            <h4><i class="icon-wr"></i><span>ул. Ким-Ю-Чена д.44</span></h4>
                            <p>
                                Тел: 8 (4212) 300-000<br/>
                                Тел: 8 (4212) 300-001
                            </p>
                        </td>
                        <td>
                            <img src="//placehold.it/102x65" alt=""/>
                            <img src="//placehold.it/102x65" alt=""/>
                        </td>
                        <td>
                            <a href="#">
                                <i class="icon-online-black"></i>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        
        <div class="b-contacts_map">
            <img src="images/map.jpg" alt=""/>
        </div>

    </div>
</section>