<footer class="b-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="b-footer_copyrights">
                    <h3>ООО "<strong>Well Run</strong>"</h3>
                    <span>сеть автокомплексов</span><br/>
                    <small>Все права защищены &copy; <span id="js-footer-year"></span></small>
                </div>
            </div>

            <div class="col-md-2">
                <div class="b-footer_normal">
                    <h4>Наши адреса</h4>
                    <p>
                        ул.Ким-Ю-Чена д.44<br/>
                        Монтажная д.43<br/>
                        ул.Брестская д.1 а
                    </p>
                </div>
            </div>

            <div class="col-md-2">
                <div class="b-footer_normal">
                    <h4>&nbsp;</h4>
                    <p>
                        ул.Большая д.98<br/>
                        ул. Бийская д.1 а<br/>
                        ул.Павла Морозова д.28
                    </p>
                </div>
            </div>

            <div class="col-md-3">
                <div class="b-footer_normal">
                    <h4>Социальные сети</h4>
                    <p>
                        Нашим подписчикам<br/>
                        бесплатная диагностика<br/>
                        ходовой
                    </p>

                    <div class="b-footer_social">
                        <a href="#" class="icon-social b-footer_social__fb"></a>
                        <a href="#" class="icon-social b-footer_social__ig"></a>
                        <a href="#" class="icon-social b-footer_social__vk"></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <a href="http://web-alt.ru" target="_blank" class="b-footer_studio">
                    <span>Сайт разработан</span><br>
                    WEB ALTERNATIVE
                </a>
            </div>
        </div>
    </div>
</footer>