<header class="b-header">
    <div class="b-header_top">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <a class="b-header_logo" href="" ui-sref="index.main">
                        <img src="images/logo.png" alt="logo well run"/>
                    </a>
                </div>
                <div class="col-md-10">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a ui-sref="index.catalog" href="#">О нас</a></li>
                        <li><a ui-sref="index.catalog_additional" href="#">Наши услуги</a></li>
                        <li><a href="#">Каталог</a></li>
                        <li><a href="#">Новости</a></li>
                        <li><a href="#">Отзывы</a></li>
                        <li><a href="#">Контакты</a></li>
                        <li class="b-header_right">
                            <table>
                                <tr>
                                    <td class="b-header_online">
                                        <div>
                                            <i class="b-header_online_icon icon-online"></i>
                                            ОНЛАЙН-ВИДЕО<br/>
                                            ТРАНСЛЯЦИЯ
                                        </div>
                                    </td>
                                    <td class="lh-0">
                                        <div class="b-header_search">
                                            <form action="" method="get">
                                                <input type="submit" class="b-header_search_icon icon-search" value="" />

                                                <div class="b-header_search_field">
                                                    <input type="text" placeholder="найти..." name="search"/>
                                                </div>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="b-header_info">
        <div class="container">
            <div class="row">
                <div class="col-md-2">&nbsp;</div>
                <div class="col-md-2">
                    <div class="b-header_company-name">
                        <strong>СЕТЬ АВТОКОМПЛЕКСОВ</strong>
                        <h5>Well Run</h5>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="b-header_phone">
                        <table>
                            <tr>
                                <td>
                                    <i class="b-header_phone-icon icon-phone"></i>
                                </td>
                                <td>
                                    <span>8 (4212) 300-000</span><br/>
                                    <small>ежедневно с 8:00 до 22:00</small>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="b-header_call-me">
                        <a class="css-btn-empty" href="#">Заказать звонок</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>