<section class="b-main-slider">
    <ul class="b-main-slider_wrapper">
        <li>
            <img src="http://placehold.it/1600x590" alt=""/>

            <div class="b-main-slider_block-holder container">
                <div class="b-main-slider_first-block">
                    <h2>Экономия с каждой <br/>замены масла <br/>от <strong>1500</strong> рублей</h2>
                    <a href="#" class="css-btn-empty">ПОДРОБНЕЕ</a>
                </div>

                <div class="b-main-slider_second-block">
                    <div class="b-main-slider_second-block_left">
                        <strong>28</strong><br/>
                        <span>ОКТЯБРЯ</span><br/>
                        <small>среда</small>
                    </div>

                    <div class="b-main-slider_second-block_right">
                        <h3>Первый официальный пункт продаж RDS</h3>
                        <p>
                            Хорошая новость для любителей дрифта!<br/>
                            В Хабаровске...
                        </p>
                    </div>

                    <div class="b-main-slider_second-block_bg"></div>
                </div>
            </div>
        </li>
        <li>
            <img src="http://placehold.it/1600x590" alt=""/>

            <div class="b-main-slider_block-holder container">
                <div class="b-main-slider_first-block">
                    <h2>Экономия с каждой <br/>замены масла <br/>от <strong>1500</strong> рублей</h2>
                    <a href="#" class="css-btn-empty">ПОДРОБНЕЕ</a>
                </div>

                <div class="b-main-slider_second-block">
                    <div class="b-main-slider_second-block_left">
                        <strong>28</strong><br/>
                        <span>ОКТЯБРЯ</span><br/>
                        <small>среда</small>
                    </div>

                    <div class="b-main-slider_second-block_right">
                        <h3>Первый официальный пункт продаж RDS</h3>
                        <p>
                            Хорошая новость для любителей дрифта!<br/>
                            В Хабаровске...
                        </p>
                    </div>

                    <div class="b-main-slider_second-block_bg"></div>
                </div>
            </div>
        </li>

    </ul>

    <div class="b-main-slider_pager">
        <div class="b-main-slider_pager_arrow b-main-slider_pager_arrow-left icon-arrows"></div>
        <ul>
            <li class="b-main-slider_pager_item"><a data-slide-index="0"></a></li>
        </ul>
        <div class="b-main-slider_pager_arrow b-main-slider_pager_arrow-right icon-arrows"></div>
    </div>
</section>

<section class="b-main-services">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="b-main-services_item">
                    <div class="b-main-services_item_line"></div>
                    <div class="b-main-services_item_holder">
                        <div>
                            <i class="icon-services b-main-services_icon b-main-services_icon__first"></i>
                        </div>
                        <p>
                            Мы ремонтируем только<br/>
                            то, что действительно<br/>
                            требует ремонта
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="b-main-services_item">
                    <div class="b-main-services_item_line"></div>
                    <div class="b-main-services_item_holder">
                        <div>
                            <i class="icon-services b-main-services_icon b-main-services_icon__second"></i>
                        </div>
                        <p>
                            Автомойка у нас длится<br/>
                            всего 15 минут
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="b-main-services_item">
                    <div class="b-main-services_item_line"></div>
                    <div class="b-main-services_item_holder">
                        <div>
                            <i class="icon-services b-main-services_icon b-main-services_icon__third"></i>
                        </div>
                        <p>
                            На все наши работы и<br/>
                            запчасти мы даем<br/>
                            гарантию
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="b-main-services_item">
                    <div class="b-main-services_item_line"></div>
                    <div class="b-main-services_item_holder">
                        <div>
                            <i class="icon-services b-main-services_icon b-main-services_icon__fifth"></i>
                        </div>
                        <p>
                            У нас самая дешевая<br/>
                            замена масла в<br/>
                            Хабаровске
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="b-services">
    <div class="container">
        <div class="col-md-4 b-services_item" style="background-image: url('images/static/service_1.jpg');">
            <div>
                <h2>Мастерская по<br/> ремонту и<br/> реставрации<br/> кожи</h2>
                <a href="#" class="css-btn-empty css-btn-empty__black"><small>ИНФОРМАЦИЯ</small></a>
                <p>
                    <a href="#" class="css-link-with-icon">перейти к услуге</a>
                </p>
            </div>
        </div>
        <div class="col-md-4 b-services_item" style="background-image: url('images/static/service_2.jpg');">
            <div>
                <h2 class="css-text-white">Автомоечный комплекс</h2>
                <a href="#" class="css-btn-empty css-btn-empty__white"><small>ИНФОРМАЦИЯ</small></a>
                <p>
                    <a href="#" class="css-link-with-icon css-link-with-icon__white">перейти к услуге</a>
                </p>
            </div>
        </div>
        <div class="col-md-4 b-services_item" style="background-image: url('images/static/service_3.jpg');">
            <div>
                <h2>Станция технического обслуживания (<strong>СТО</strong>)</h2>
                <a href="#" class="css-btn-empty css-btn-empty__black"><small>ИНФОРМАЦИЯ</small></a>
                <p>
                    <a href="#" class="css-link-with-icon">перейти к услуге</a>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="b-main-carousel">
    <div class="b-main-carousel_head">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <h5>ХИТЫ ПРОДАЖ</h5>
                </div>
                <div class="col-md-8">
                    <ul class="b-main-carousel_head_titles">
                        <li class="__active">Масла</li>
                        <li>Аккумуляторы</li>
                        <li>Автотовары</li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <a class="b-main-carousel_head_all-link" href="#">ВЕСЬ КАТАЛОГ</a>
                </div>
            </div>
        </div>
    </div>
    <div class="b-main-carousel_body">
        <div class="container">
            <ul class="row">
                <li>
                    <div class="col-md-4">
                        <h4 class="b-main-carousel_body_title">
                            <a href="#">Ultrasyn Plus 0W40 синтетическое моторное масло</a>
                        </h4>
                        <table>
                            <tr>
                                <td class="b-main-carousel_body_left">
                                    <a href="#">
                                        <img src="images/static/carousel_1.jpg" alt=""/>
                                    </a>

                                    <div class="icon-star-set" data-starscount="2">
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star"></div>
                                        <div class="icon-star"></div>
                                    </div>
                                </td>
                                <td class="b-main-carousel_body_right">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequuntur dignissimos dolorem doloribus eveniet facere.
                                    </p>

                                    <div class="b-main-carousel_body_right_bottom">
                                        <a href="#" class="b-main-carousel_body_right_bottom_cart icon-cart"></a>
                                        <strong>700 <small>руб</small></strong>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-md-4">
                        <h4 class="b-main-carousel_body_title">
                            <a href="#">Ultrasyn Plus 0W40 синтетическое моторное масло</a>
                        </h4>
                        <table>
                            <tr>
                                <td class="b-main-carousel_body_left">
                                    <a href="#">
                                        <img src="images/static/carousel_1.jpg" alt=""/>
                                    </a>

                                    <div class="icon-star-set" data-starscount="2">
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star"></div>
                                        <div class="icon-star"></div>
                                    </div>
                                </td>
                                <td class="b-main-carousel_body_right">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequuntur dignissimos dolorem doloribus eveniet facere.
                                    </p>

                                    <div class="b-main-carousel_body_right_bottom">
                                        <a href="#" class="b-main-carousel_body_right_bottom_cart icon-cart"></a>
                                        <strong>700 <small>руб</small></strong>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="col-md-4">
                        <h4 class="b-main-carousel_body_title">
                            <a href="#">Ultrasyn Plus 0W40 синтетическое моторное масло</a>
                        </h4>
                        <table>
                            <tr>
                                <td class="b-main-carousel_body_left">
                                    <a href="#">
                                        <img src="images/static/carousel_1.jpg" alt=""/>
                                    </a>

                                    <div class="icon-star-set" data-starscount="2">
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star icon-star__gold"></div>
                                        <div class="icon-star"></div>
                                        <div class="icon-star"></div>
                                    </div>
                                </td>
                                <td class="b-main-carousel_body_right">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequuntur dignissimos dolorem doloribus eveniet facere.
                                    </p>

                                    <div class="b-main-carousel_body_right_bottom">
                                        <a href="#" class="b-main-carousel_body_right_bottom_cart icon-cart"></a>
                                        <strong>700 <small>руб</small></strong>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>