<section class="b-titles">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-8">
                <ul class="b-titles_titles">
                    <li>Новости</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="b-news">
    <div class="b-breadcrumbs">
        <div class="container">
            <a href="#">Главная</a> | <a href="#">Масло Kuttenkeuler</a> | <span>Трансмиссионные и автоматические масла</span>
        </div>
    </div>

    <div class="b-news_block b-news_block_first">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="b-main-slider_second-block_left">
                        <strong>28</strong><br/>
                        <span>ОКТЯБРЯ</span><br/>
                        <small>среда</small>

                        <div class="b-news_block_date-title b-news_block_date-title__red">АКЦИЯ</div>
                    </div>
                </div>

                <div class="col-md-9">
                    <h4><a href="#">Ultrasyn Plus 0W40 синтетическое моторное масло</a></h4>
                    <p>
                        Хорошая новость для любителей дрифта! <br/>
                        В Хабаровске открылся первый официальный пункт продаж товаров RDS.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="b-news_block">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="b-main-slider_second-block_left">
                        <strong>28</strong><br/>
                        <span>ОКТЯБРЯ</span><br/>
                        <small>среда</small>
                        <div class="b-news_block_date-title b-news_block_date-title__black">ВИДЕО</div>
                    </div>
                </div>

                <div class="col-md-9">
                    <h4><a href="#">Ultrasyn Plus 0W40 синтетическое моторное масло</a></h4>
                    <p>
                        Хорошая новость для любителей дрифта! <br/>
                        В Хабаровске открылся первый официальный пункт продаж товаров RDS.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="b-news_block">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <div class="b-main-slider_second-block_left">
                        <strong>28</strong><br/>
                        <span>ОКТЯБРЯ</span><br/>
                        <small>среда</small>
                    </div>
                </div>

                <div class="col-md-9">
                    <h4><a href="#">Ultrasyn Plus 0W40 синтетическое моторное масло</a></h4>
                    <p>
                        Хорошая новость для любителей дрифта! <br/>
                        В Хабаровске открылся первый официальный пункт продаж товаров RDS.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="b-pagination">
    <ul>
        <li class="b-pagination_arrow b-pagination_arrow__left"><a href="#" class="icon-pagination-arrows">&nbsp;</a></li>
        <li><a href="#">1</a></li>
        <li class="_active"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li class="b-pagination_arrow b-pagination_arrow__right"><a href="#" class="icon-pagination-arrows">&nbsp;</a></li>
    </ul>
</div>