<section class="b-titles">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-8">
                <ul class="b-titles_titles">
                    <li>Новости</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="b-news-list">
    <div class="container">
        <div class="b-breadcrumbs">
            <a href="#">Главная</a> | <a href="#">Масло Kuttenkeuler</a> | <span>Трансмиссионные и автоматические масла</span>
        </div>

        <article class="b-news-list">
            <div class="b-main-slider_second-block_left">
                <strong>28</strong><br/>
                <span>ОКТЯБРЯ</span><br/>
                <small>среда</small>

                <div class="b-news_block_date-title b-news_block_date-title__red">АКЦИЯ</div>
            </div>

            <h3>Первый официальный пункт продаж RDS</h3>

            <p>
                Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing elit</a>. Ad aliquam, architecto consequatur deleniti eaque, eligendi eveniet ex fugit harum impedit incidunt laborum natus nesciunt omnis quae quaerat quisquam quo voluptates!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci dolore doloribus eaque enim eos labore minus neque, tenetur! Corporis dolorem doloribus hic illum natus neque omnis optio recusandae temporibus tenetur.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium est, fuga qui quos reiciendis tempore voluptatem. Cupiditate eaque enim explicabo itaque magnam, natus numquam, odit provident quaerat quod sit, voluptate!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci, assumenda commodi, doloribus esse excepturi harum impedit itaque, laudantium quis sit ullam! Atque ducimus enim facilis quo ullam unde velit?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores atque, autem, consequatur consequuntur cupiditate doloremque eligendi harum, id incidunt molestias natus nemo nostrum officiis quasi quisquam repellendus tempora vitae.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid blanditiis delectus dolorem facilis incidunt ipsam, maxime mollitia nesciunt obcaecati odio possimus quo, repellat sapiente similique tenetur unde voluptas voluptatum!
            </p>
            <img src="//placehold.it/400x300" alt="" align="left"/>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum debitis esse est facilis, fugiat impedit magnam minus molestias necessitatibus nesciunt nihil nobis numquam, recusandae rem repudiandae tenetur ut. Molestias.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi autem culpa dignissimos ducimus earum facilis fugiat, praesentium provident quaerat qui quo sit vel. Nihil numquam pariatur sit soluta veritatis!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aliquid et, expedita harum impedit minus molestias odio optio quam quia sit temporibus unde. Dolorem fuga itaque officiis omnis provident tenetur.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi aut deleniti eos esse, magni modi molestiae, mollitia perferendis quo reprehenderit totam vel vitae? Est libero magnam non quas quo.
            </p>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum debitis esse est facilis, fugiat impedit magnam minus molestias necessitatibus nesciunt nihil nobis numquam, recusandae rem repudiandae tenetur ut. Molestias.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi autem culpa dignissimos ducimus earum facilis fugiat, praesentium provident quaerat qui quo sit vel. Nihil numquam pariatur sit soluta veritatis!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aliquid et, expedita harum impedit minus molestias odio optio quam quia sit temporibus unde. Dolorem fuga itaque officiis omnis provident tenetur.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi aut deleniti eos esse, magni modi molestiae, mollitia perferendis quo reprehenderit totam vel vitae? Est libero magnam non quas quo.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum debitis esse est facilis, fugiat impedit magnam minus molestias necessitatibus nesciunt nihil nobis numquam, recusandae rem repudiandae tenetur ut. Molestias.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi autem culpa dignissimos ducimus earum facilis fugiat, praesentium provident quaerat qui quo sit vel. Nihil numquam pariatur sit soluta veritatis!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aliquid et, expedita harum impedit minus molestias odio optio quam quia sit temporibus unde. Dolorem fuga itaque officiis omnis provident tenetur.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi aut deleniti eos esse, magni modi molestiae, mollitia perferendis quo reprehenderit totam vel vitae? Est libero magnam non quas quo.
            </p>
            <iframe height="355" align="center" src="https://www.youtube.com/embed/w2qf649drlI" frameborder="0" allowfullscreen></iframe>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum debitis esse est facilis, fugiat impedit magnam minus molestias necessitatibus nesciunt nihil nobis numquam, recusandae rem repudiandae tenetur ut. Molestias.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi autem culpa dignissimos ducimus earum facilis fugiat, praesentium provident quaerat qui quo sit vel. Nihil numquam pariatur sit soluta veritatis!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aliquid et, expedita harum impedit minus molestias odio optio quam quia sit temporibus unde. Dolorem fuga itaque officiis omnis provident tenetur.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi aut deleniti eos esse, magni modi molestiae, mollitia perferendis quo reprehenderit totam vel vitae? Est libero magnam non quas quo.
            </p>

            <ul>
                <li>Первый</li>
                <li>Второй</li>
                <li>Третий</li>
                <li>Четвертый</li>
            </ul>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cum debitis esse est facilis, fugiat impedit magnam minus molestias necessitatibus nesciunt nihil nobis numquam, recusandae rem repudiandae tenetur ut. Molestias.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi autem culpa dignissimos ducimus earum facilis fugiat, praesentium provident quaerat qui quo sit vel. Nihil numquam pariatur sit soluta veritatis!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aliquid et, expedita harum impedit minus molestias odio optio quam quia sit temporibus unde. Dolorem fuga itaque officiis omnis provident tenetur.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias animi aut deleniti eos esse, magni modi molestiae, mollitia perferendis quo reprehenderit totam vel vitae? Est libero magnam non quas quo.
            </p>

        </article>
    </div>
</section>