<section class="b-titles">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                &nbsp;
            </div>
            <div class="col-md-4">
                <ul class="b-titles_titles">
                    <li>Отзывы</li>
                </ul>
            </div>
            <div class="col-md-4" align="right">
                <a href="#" class="b-reviews_add"><i class="icon-add-review"></i><span>Оставить отзыв</span></a>
            </div>
        </div>
    </div>
</section>

<section class="b-reviews">
    <div class="b-breadcrumbs">
        <div class="container">
            <a href="#">Главная</a> | <a href="#">Масло Kuttenkeuler</a> | <span>Трансмиссионные и автоматические масла</span>
        </div>
    </div>
    <div class="b-reviews_item b-reviews_item_first">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-4">
                    <img src="images/static/reviews_1.png" alt=""/>
                </div>

                <div class="col-md-10 col-sm-9 col-xs-8">
                    <p>
                        При разработке сайта требовалось придерживаться определенных корпоративных требований, что в общих чертах было выдержано, вместе с тем сайт получился оригинальным, а не клоном сайтов других дилеров. В связи с тем, что в компании нет выделенного человека для работы и текущего обновления информации ,на сайте требовалось, чтобы система управления была максимально простой, тоже выполненно в полном объеме - основные разделы сайта, подлежащие оперативному изменению легко корректировать без особых затрат времени и сил. Ну и вообще с Вами было приятно иметь дело, все пожелания выраженные в ходе разработки сайта были максимально внесены.
                    </p>

                    <h3>
                        Кузнецов Д.И. зам.ген.директора,<br/>
                        <span>ЗАО "Ланит-Партнер"</span>
                    </h3>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="b-reviews_item_line"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="b-reviews_item">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-4">
                    <img src="images/static/reviews_1.png" alt=""/>
                </div>

                <div class="col-md-10 col-sm-9 col-xs-8">
                    <a href="#" class="b-reviews_item_video"><i></i><span>Смотреть видеоотзыв</span></a>

                    <h3>
                        Кузнецов Д.И. зам.ген.директора,<br/>
                        <span>ЗАО "Ланит-Партнер"</span>
                    </h3>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="b-reviews_item_line"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="b-reviews_item">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-4">
                    <img src="images/static/reviews_1.png" alt=""/>
                </div>

                <div class="col-md-10 col-sm-9 col-xs-8">
                    <p>
                        При разработке сайта требовалось придерживаться определенных корпоративных требований, что в общих чертах было выдержано, вместе с тем сайт получился оригинальным, а не клоном сайтов других дилеров. В связи с тем, что в компании нет выделенного человека для работы и текущего обновления информации ,на сайте требовалось, чтобы система управления была максимально простой, тоже выполненно в полном объеме - основные разделы сайта, подлежащие оперативному изменению легко корректировать без особых затрат времени и сил. Ну и вообще с Вами было приятно иметь дело, все пожелания выраженные в ходе разработки сайта были максимально внесены.
                    </p>

                    <h3>
                        Кузнецов Д.И. зам.ген.директора,<br/>
                        <span>ЗАО "Ланит-Партнер"</span>
                    </h3>

                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="b-reviews_item_line"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6">
                <div class="b-pagination">
                    <ul>
                        <li class="b-pagination_arrow b-pagination_arrow__left"><a href="#" class="icon-pagination-arrows">&nbsp;</a></li>
                        <li><a href="#">1</a></li>
                        <li class="_active"><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li class="b-pagination_arrow b-pagination_arrow__right"><a href="#" class="icon-pagination-arrows">&nbsp;</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3" align="right">
                <a href="#" class="b-reviews_add" style="margin-top: 30px;"><i class="icon-add-review"></i><span>Оставить отзыв</span></a>
            </div>
        </div>
    </div>

</section>
