<section class="b-titles">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                &nbsp;
            </div>
            <div class="col-md-8">
                <ul class="b-titles_titles">
                    <li>Вакансии</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="b-vacancies">
    <div class="container">
        <div class="b-breadcrumbs">
            <a href="#">Главная</a> | <a href="#">Масло Kuttenkeuler</a> | <span>Трансмиссионные и автоматические масла</span>
        </div>

        <h3>Вакансии</h3>

        <div class="b-vacancies_block _active">
            <div class="js-show-content">
                <div class="b-vacancies_block_button"></div>
                <h5><a href="#">Кассир-Администратор</a></h5>
            </div>

            <div class="b-vacancies_block_content js-show-content-target">
                <p>
                    <strong>Место работы:</strong><br/>
                    Большая 98 (Погран.Институт) / Бийская 1а (Южный мк-рн)/ Брестская 1а
                    <br/><br/>
                    <strong>График работы</strong> 3/3, С 9.00-20.00
                    <br/><br/>
                    <strong>ЗП:</strong> от 40 000 р.мес
                    <br/><br/>
                    <strong>Требования:</strong>
                    Знание устройства автомобиля
                    Ответственность
                    Опыт работы от 1 года
                    Отсутствие проблем с законом
                    Отсутствие вредных привычек
                </p>

                <p align="center">
                    <a href="#" class="css-btn-empty">ПРОЙТИ ТЕСТ</a>
                </p>
            </div>
        </div>

        <div class="b-vacancies_block">
            <div class="js-show-content">
                <div class="b-vacancies_block_button"></div>
                <h5><a href="#">Механик</a></h5>
            </div>

            <div class="b-vacancies_block_content js-show-content-target">
                <p>
                    <strong>Место работы:</strong><br/>
                    Большая 98 (Погран.Институт) / Бийская 1а (Южный мк-рн)/ Брестская 1а
                    <br/><br/>
                    <strong>График работы</strong> 3/3, С 9.00-20.00
                    <br/><br/>
                    <strong>ЗП:</strong> от 40 000 р.мес
                    <br/><br/>
                    <strong>Требования:</strong>
                    Знание устройства автомобиля
                    Ответственность
                    Опыт работы от 1 года
                    Отсутствие проблем с законом
                    Отсутствие вредных привычек
                </p>

                <p align="center">
                    <a href="#" class="css-btn-empty">ПРОЙТИ ТЕСТ</a>
                </p>
            </div>
        </div>

        <div class="b-vacancies_block">
            <div class="js-show-content">
                <div class="b-vacancies_block_button"></div>
                <h5><a href="#">Мойщик авто</a></h5>
            </div>

            <div class="b-vacancies_block_content js-show-content-target">
                <p>
                    <strong>Место работы:</strong><br/>
                    Большая 98 (Погран.Институт) / Бийская 1а (Южный мк-рн)/ Брестская 1а
                    <br/><br/>
                    <strong>График работы</strong> 3/3, С 9.00-20.00
                    <br/><br/>
                    <strong>ЗП:</strong> от 40 000 р.мес
                    <br/><br/>
                    <strong>Требования:</strong>
                    Знание устройства автомобиля
                    Ответственность
                    Опыт работы от 1 года
                    Отсутствие проблем с законом
                    Отсутствие вредных привычек
                </p>

                <p align="center">
                    <a href="#" class="css-btn-empty">ПРОЙТИ ТЕСТ</a>
                </p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="b-vacancies_other">
            Хочешь работать в одной из самых крупных сетей автосервисов города Хабаровска?<br/>
            Для тебя важны репутация и имидж компании?<br/>
            Ты хочешь расти и развиваться?<br/>
            Для тебя важна реальная возможность карьерного роста?<br/>
            Ты активен? Молод? Полон сил и энергии?<br/>
            Ты всегда стремишься быть первым и настроен только на победу?<br/>
            <strong>Для приглашения на собеседование, предлагаем пройти тест!</strong><br/>
            <a href="#" class="css-btn-empty">ПРОЙТИ ТЕСТ</a>
        </div>
    </div>
</section>